.calc {
  width: 100px;
  height: 100px;
  background-color: hotpink;
  text-align: center;
  /* margin은 width가 명확하게 있어야 가능 */
  margin: calc(50vh - 50px) auto;
}
.border-w {
  background-color: red;
  width: 100px;
  height: 100px;
  border: solid black;
  border-width: 2px;
}

.border-s {
  background-color: orange;
  width: 100px;
  height: 100px;

  border-style: dotted;
}

.border-c {
  background-color: yellow;
  width: 100px;
  height: 100px;
  border: solid 1px;
  border-color: red;
}

.square {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  cursor: pointer;
}

.rounded {
  border-radius: 50px;
  border-radius: 10%;
  /* 단축 속성 */
  border-radius: 5px 40px;
  border-radius: 5px 20px 40px;
  border-radius: 5px 20px 30px 40px;
}

.box-sizing {
  padding: 20px;
  border: 15px solid red;
  background-color: tomato;
}

.content-box {
  /* 기본값 */
  box-sizing: content-box;
}

.border-box {
  box-sizing: border-box;
}

/* ---------모습 숨기기---------- */

.d-none {
  /* 자리도 없고 속성도 없음 */
  display: none;
  background-color: red;
}
.invisible {
  /* 자리는 남지만 속성은 죽음 */
  visibility: hidden;
  background-color: orangered;
}
.opacity-0 {
  /* 자리도 남고 속성도 남음 */
  opacity: 0;
  background-color: tomato;
}

/* ------실습: 요소 사라지게 하기-------- */

.blue {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.blue:hover {
  opacity: 0;
}

/* ----------overflow--------- */

.square img {
  width: 200px;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  /* 넘치면 스크롤 생성 */
  overflow: auto;
}
.overflow-scroll {
  /* 넘치지 않아도 스크롤 생성 */
  overflow: scroll;
}
.overflow-visible {
  /* 기본값: 그냥 넘치는거 다 보여줌 */
  overflow: visible;
}
