body {
  height: 2000px;
  background: linear-gradient(white, orange);
}

div {
  width: 100px;
  height: 100px;
  font-weight: 700;
  /* 가로 & 세로 중앙 정렬 */
  text-align: center;
  line-height: 100px;
}

.position-static {
  background-color: red;
  /* static - 기본값이기 때문에 안써도 자동 적용 */
  position: static;

  top: 100px;
  left: 50px;
}
.position-relative {
  background-color: orange;
  /* relative 
  - 1. 자기 자신을 기준으로 이동 
    2. 문서 흐름을 해치지 않음 */
  position: relative;
  left: 50px;
  bottom: 50px;
}
.position-absolute {
  background-color: yellow;
  /* absolute 
  - 1. 기준이 없을 때는 브라우저를 기준으로 이동 (기준은! 가장 가까운 position: static이 아닌 부모 혹은 조상)
    2. 문서의 흐름 해침 */
  position: absolute;
  width: 80px;
  height: 80px;
  top: 100px;
  right: 100px;
}
.position-fixed {
  background-color: green;
  /* fixed
  - 1. 브라우저를 기준으로 움직임
    2. 스크롤이 되어도 브라우저에 고정되어 있음 */
  position: fixed;
  left: 300px;
  top: 300px;
}
